/* WEBSITE VERSION */
* {
  margin: 0;
  padding: 0;
  font-family:'Open Sans', sans-serif;
}
#Grid-container {
 display: grid;
 grid-template-columns: repeat(12,1fr);
 grid-template-rows: auto;
}
html {
  scroll-behavior: smooth;
}

/* MENU AREA */
.topnav {
  grid-column: 1/13;
  grid-row: 1/2;
  background-color: #06c5ff;
  overflow: hidden;
  padding-right: 80px;
}

.topnav .fas {
 color: white;
 float: right;
 display: block;
 font-size: 20px;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav .fas:hover {
  background-color: #ddd;
  color: #ff8600;
}

/* LOGO I MENU */
#logo {
  grid-column: 2/4;
  grid-row: 1/2;
  width: 97%;

}
#logo img {
  width: 90%;
}

/* RESPONSIVE BURGER MENU */
.topnav .icon {
    display: none;
  }

@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a.fas {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .fas {
    float: none;
    display: block;
    text-align: left;
  }
}

  /* LOGO */
  @media screen and (max-width: 600px) {
    #logo {
      width: 100%;
      padding-top: 18px;
      padding-left: 20px;
  }
    #logo img {
      width: 200%;
    }
}

/* HEADER AREA */
#item1 {
  grid-column: 1/13;
  grid-row: 2/3;
  text-align: center;
  background-color: #2b2b2b;
}
#item1 img {
  width: 90%;
}
#item2 {
  grid-column: 2/7;
  grid-row: 2/3;
  padding-top: 100px;
  padding-left: 20px;
}
#item2 h1 {
  color: white;
  font-size: 50px;
}
#item3 {
  grid-column: 6/8;
  grid-row: 2/3;
}
#item3 button {
  text-decoration: underline;
  background-color: Transparent;
  border: none;
  color: white;
  margin-top: 400px;
  font-size: 16px;
}

/* TEXT AREA */
#item4 {
  grid-column: 1/7;
  grid-row: 3/4;
  background-color: #06c5ff;
  padding: 50px
}
#item4 h2, p {
  color: white;
}
#item5 {
  grid-column: 7/8;
  grid-row: 3/4;
  padding-left: 50px;
  padding-top: 50px;
}
#item5 img {
  width: 90%;
  padding-top: 3px;
  padding-bottom: 45px;
}
#item6 {
  grid-column: 8/13;
  grid-row: 3/4;
  padding: 50px
}
#item6 p{
  color: black;
  font-size: 16px;
  padding-bottom: 8px;
}

#item7 {
  grid-column: 1/7;
  grid-row: 4/6;
  padding-top: 50px;
  padding-left: 50px;
}
#item7 img {
  width: 90%;
}
#item8 {
  grid-column: 7/13;
  grid-row: 4/6;
  background-color: #06c5ff;
  padding-top: 40px;
  padding-left: 50px;
}
#item9 {
  grid-column: 1/13;
  grid-row: 6/7;
  text-align: center;
  background-color: #2b2b2b;
}
#item9 img {
  width: 20%;
}
