/* MOBIL VERSION */
* {
  margin: 0;
  padding: 0;
}
#Grid-container {
 display: grid;
 grid-template-columns: repeat(12,1fr);
 grid-template-rows: auto;
}
/* HEADER AREA */
#item1 {
  grid-column: 1/13;
  grid-row: 2/3;
  margin-left: 0px;
  margin-right: 0px;
}
#item1 img {
  width: 100%;
}
#item2 {
  grid-column: 1/13;
  grid-row: 2/3;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 10px;
  padding-left: 0px;
}
#item2 h1 {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
#item2 p {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
#item3 button {
  display: none;
}
#item3 {
  grid-column: 1/13;
  grid-row: 2/3;
  margin-left: 0px;
  margin-right: 0px;
}
/* TEXT AREA  */
#item4 {
  grid-column: 1/13;
  grid-row: 3/4;
  margin-left: 0px;
  padding-bottom: 20px;
}
#item4 p{
  padding-right: 10px;
}
#item5  {
  grid-column: 1/5;
  grid-row: 4/5;
  padding-top: 30px;
}
#item5 img {
  width: 95%;
}
#item6 {
  grid-column: 5/13;
  grid-row: 4/5;
  padding-right: 0px;
}
#item6 p {
  color: black;
  font-size: 15px;
}
/* FOOTER AREA */
#item7 {
  grid-column: 1/13;
  grid-row: 5/6;
  margin-left: 0px;
}
#item8 {
  grid-column: 1/5;
  grid-row: 6/7;
  margin-left: 0px;
}
#item8 img {
  width: 50%;
  padding-bottom: 50px;
}
#item9 {
  grid-column: 5/13;
  grid-row: 6/7;
  background-color: #485462;
  padding-left: 30px;
  margin-bottom: -80px;
}
#item9 p {
  padding-bottom: 50px;
}

#txtform  {
  grid-column: 1/13;
  grid-row: 7/8;
  margin-right: 0px;
}
label {
  font-size: 12px;
}
input[type=tel] {
  width: 43%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #878e99;
  box-sizing: border-box;
  margin-left: 15px;
}

.bt1 {
  margin-bottom: 20px;
}
